h3 {
    width: 100%;
    text-align: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 510px;
    width: 510px;
}

.container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: row;
}

.dataHeader {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 5px lightgray;
}

.data {
    height: 100%;
    overflow: overlay; // shifts scroll-bar on the top of the container instead of squishing it;
    flex: 3;

    background-color: wheat;


    .superContainer {
        height: 120%;
        background-color: white;
    }

    

    span {
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 0 10px;

        p {
            flex: 1;
            overflow: hidden;
        }
    }
}

.action {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding-top: 20px;
    gap:2px;

    p {
        width: fit-content;
        text-align: center;
    }

    button {
        border: solid 1px white;
        background-color: wheat;
    }

    button:active{
        box-shadow: inset 0 2px 5px gray;
    }

    background-color: white;
}