.blog {
    /* background-color: rgb(213, 244, 233); */
    color: black;
    width: 50%;
    height: fit-content;
    margin: auto;
}

h2 {
    margin: 10px 0;
}

.record {
    padding: 5%;
    align-items: start;
    background-color: white;
    box-shadow: 0px 2px 15px lightgray;
    /* margin: 0 50px; */
}

.record h2 {
    margin: 0;
}

.record .details {
    margin-bottom: 15px;
}

.record .details p {
    font-size: small;
    color: gray;
    margin: 0 10px 0 0;
}

.record p {
    margin: 0;
    /* margin-bottom: 5px; */
    /* padding: 0 10px 0 0 ; */
}

