.blog {
    /* background-color: rgb(213, 244, 233); */
    color: black;
    width: 50%;
    height: fit-content;
    margin: auto;
    position: relative;
}

h2 {
    margin: 10px 0;
}


.blogButton {
    width: 50px;
    height: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
    position: absolute;
}

.clue {
    color: gray;
    background-color: white;
    width: fit-content;
    /* max-width: 200%; */
    height: fit-content;
    font-size: 10px;
    padding: 5px;
    border: solid 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -55px;
}


.addRecordButton {
    transform: translate(0, 60%);
    right: -10%;
    z-index: 1;
}

.addRecordBGray {
    background-image: url('/src/assets/icons/PlusGray.svg');

}

.addRecordBTop {
    background-image: url('/src/assets/icons/PlusColor.svg');
    transition: opacity .3s ease-in-out;
    opacity: 1;
}

.addRecordBTop:not(:hover) {
    opacity: 0;
}

.reverseRecordsButton {
    top: 3%;
    right: -18%;
    z-index: 1;
}

.reverseRecordsBGray {
    background-image: url('/src/assets/icons/ReverseGray.svg');

}

.reverseRecordsBTop {
    background-image: url('/src/assets/icons/ReverseColor.svg');
    transition: opacity .3s ease-in-out;
    opacity: 1;
}

.reverseRecordsBTop:not(:hover) {
    opacity: 0;

}



.record {
    padding: 5%;
    align-items: start;
    background-color: white;
    box-shadow: 0px 2px 15px lightgray;
    position: relative;
    top: 0px;
    /* animation: recordFall forwards;
    animation-delay: 0s;
    animation-duration: 3s; */
    /* margin: 0 50px; */
    z-index: 0;
}

@keyframes recordFall {
    from {
        top: -50px;
        box-shadow: 0px 2px 50px gray(82, 81, 81);
    }

    to {
        top: 0px;
        box-shadow: 0px 2px 15px lightgray;

    }
}

.record h2 {
    margin: 0;
}

.record .details {
    margin-bottom: 15px;
}

.record .details p {
    font-size: small;
    color: gray;
    margin: 0 10px 0 0;
}

.record p {
    margin: 0;
    /* margin-bottom: 5px; */
    /* padding: 0 10px 0 0 ; */
}


.popUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 0px;
    border-radius: 20px;
    padding: 25px;
    background-color: white;
    min-width: 50px;
    min-height: 50px;
    width: fit-content;
    height: fit-content;
    z-index: 3;
    color: black;
    box-shadow: 0 0 5px black;
}

.popUpCloseButton {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-image: url("/src/assets/icons/CloseX.svg");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    padding: 10px;
    filter: 0;
    transition: filter 0.5s;

    /* background-color: blue; */
}

.popUpCloseButton:hover {
    filter: invert(83%) sepia(48%) saturate(394%) hue-rotate(92deg) brightness(104%) contrast(101%);
}

.popUp form {
    margin: auto;
    width: 100%;
}

.popUp label {
    margin-bottom: 5px;
}

.popUp input {
    margin-bottom: 5px;
}

.popUp h3 {
    margin: 5px 0;
}

.popUp .title {
    /* font-weight: 700; */
}

.popUp textarea {
    min-height: 100px;
    min-width: 200px;
    margin: 5px 0;
    padding-top: 5px;
    line-height: normal;
    vertical-align: top;
}

.popUp button {
   user-select: none;
}

.popUp button:hover {
    border-color: aquamarine;
    box-shadow: 0 0 1px black;
}

.popUp button:active {
    background-color: aquamarine;
}



.popUpCurtain {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 500ms ease-in-out;

    pointer-events: none;
    /* this is for preventing clicking under the cirtain cause it is still there even when invisible*/

    z-index: 2;
}

.popUpCurtainVisible {
    opacity: 0.3;
    pointer-events: all;
    /* this is for allowing clicking under the cirtain */

}

.popUpCurtainHidden {
    /* opacity: 0; */
    animation: appear, forwards;
    background-color: black;

    animation-duration: 1s;
    animation-direction: reverse;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.3;
    }
}