.blog {
    /* background-color: rgb(213, 244, 233); */
    color: black;
    width: 50%;
    height: fit-content;
    margin: auto;
    position: relative;
}

h2 {
    margin: 10px 0;
}


.blogButton {
    width: 50px;
    height: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
    position: absolute;
}

.clue {
    color: gray;
    background-color: white;
    width: fit-content;
    /* max-width: 200%; */
    height: fit-content;
    font-size: 10px;
    padding: 5px;
    border: solid 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -55px;
}


.addRecordButton {
    top: 3%;
    right: -10%;
    z-index: 1;
}

.addRecordBGray {
    background-image: url('/src/assets/icons/PlusGray.svg');

}

.addRecordBTop {
    background-image: url('/src/assets/icons/PlusColor.svg');
    transition: opacity .3s ease-in-out;
    opacity: 1;
}

.addRecordBTop:not(:hover) {
    opacity: 0;
}

.reverseRecordsButton {
    top: 3%;
    right: -18%;
    z-index: 1;
}

.reverseRecordsBGray {
    background-image: url('/src/assets/icons/ReverseGray.svg');

}

.reverseRecordsBTop {
    background-image: url('/src/assets/icons/ReverseColor.svg');
    transition: opacity .3s ease-in-out;
    opacity: 1;
}

.reverseRecordsBTop:not(:hover) {
    opacity: 0;

}



.record {
    padding: 5%;
    align-items: start;
    background-color: white;
    box-shadow: 0px 2px 15px lightgray;
    position: relative;
    top: 0px;
    /* animation: recordFall forwards;
    animation-delay: 0s;
    animation-duration: 3s; */
    /* margin: 0 50px; */
    z-index: 0;
}

@keyframes recordFall {
    from {
        top: -50px;
        box-shadow: 0px 2px 50px gray(82, 81, 81);
    }

    to {
        top: 0px;
        box-shadow: 0px 2px 15px lightgray;

    }
}

.record h2 {
    margin: 0;
}

.record .details {
    margin-bottom: 15px;
}

.record .details p {
    font-size: small;
    color: gray;
    margin: 0 10px 0 0;
}

.record p {
    margin: 0;
    /* margin-bottom: 5px; */
    /* padding: 0 10px 0 0 ; */
}