.page {
    /* margin: auto; */
    margin: 0 auto 0 auto;
    width: 30%;
    padding: 30px 0 0px 0;
    background-color: white;
    box-shadow: 0 0 5px lightgray;
}

.gamesHolder {
    margin-bottom: 30px;
}

.arrowHolder {
    width: 100%;
    margin: auto;
    align-items: center;
    position: relative;
}

.arrow {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url('/src/assets/icons/ArrowCopyGray.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;

}


@keyframes brighterArrow {
    from{
       opacity: 0%;

    }
    to{
        opacity: 100%;
    }
}

.arrowTop{
    background-image: url('/src/assets/icons/ArrowCopyColor.svg');

    transition: opacity .3s ease-in-out;
    opacity: 1; /* Начальное состояние */
}

.arrowTop:not(:hover) {
    opacity: 0; 
}

/* .arrowTop:hover{
    animation: brighterArrow;
    animation-duration: 1s;
} */


.arrow.left {
    left: -25%;
    top: 10px;
    transform: rotate(180deg);
}

.arrow.right {
    right: -25%;
    top: 10px;
}