.yatoSan {
    margin-top: 10px;
    /* margin-left: -50px; */
    margin-left: -500px;


    height: 300px;
    animation: yatoSanMooooving forwards;
    animation-delay: 2s;
    animation-duration: 2s;
}


@keyframes yatoSanMooooving {
    from {
        margin-top: 100px;
        margin-left: -500px;
        transform: rotate(-90deg);
        opacity: 50%;
    }

    to {
        margin-top: 10px;
        margin-left: -50px;
        transform: rotate(0deg);
        opacity: 100%;
    }
}

@media (max-width:748px){
    .announcement{
        width: 80%;
        /* margin: auto; */
        left: 10%;
        right: 10%;
        transform: translateX(0%);

    }
}
@media (min-width:748px){
    .announcement{
        width: fit-content;
        left: 50%;
        transform: translateX(-50%);

    }
}


.announcement {
    width: fit-content;
    position: absolute;
    top: 35%;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    animation: announcementing;
    animation-delay: 0s;
    animation-duration: 2s;
    opacity: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h3 {
        font-size: 30px;
        color: burlywood;
    }


    .links {
        width: fit-content;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        gap: 10px;


        img {
            height: 50px;
        }


        .tanStackClue {
            display: none;
            width: fit-content;
            white-space: nowrap;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            margin: auto;
            color: gray;
        }

        img:hover{
            border-bottom: solid 4px aquamarine;
        }

        .tanStack:hover .tanStackClue {
            display: block;
        }

        .additionalLinks{
            display: block;
            user-select: none;
        }

        
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        span{
            width: fit-content;
        }
    }
}

.pseudo {
    font-size: 30px;
    color: burlywood;
    font-weight: 700;

}

@keyframes announcementing {
    from {
        top: 50%;
        opacity: 0;
    }

    to {
        opacity: 1;
        top: 35%;

    }

}