.yatoSan {
    margin-top: 10px;
    /* margin-left: -50px; */
    margin-left: -500px;


    height: 300px;
    animation: yatoSanMooooving forwards;
    animation-delay: 2s;
    animation-duration: 2s;
}


@keyframes yatoSanMooooving {
    from {
        margin-top:100px;
        margin-left: -500px;
        transform: rotate(-90deg);
        opacity: 50%;
    }

    to {
        margin-top:10px;
        margin-left: -50px;
        transform: rotate(0deg);
        opacity: 100%;
    }
}

.announcement {
    font-size: 30px;
    color: burlywood;
    width: fit-content;
    position: absolute;
    top:50%;
    left: 40%;
    animation: announcementing;
    animation-delay: 0s;
    animation-duration: 2s;
}

@keyframes announcementing {
from{
    top:80%;

}
to{
    top:50%;

}

}