.mainContainer {
    display: flex;
    flex-direction: row;
    background-color: white;
    color: gray;
    box-shadow: 0px 2px 3px lightgray;
    position:relative;
    z-index: 1;
}

.headerLink {
    width: fit-content;
    padding: 10pt;
    font-size: 30pt;
    flex-grow: 1;
    text-align:center;
    user-select: none;
}

.headerLink:hover{
    text-decoration: underline aquamarine;
    color: black;
}

.headerLinkActive{
    text-decoration: underline aquamarine;
    color: black;
}

.headerLink:focus-visible{
    outline: solid 2px aquamarine;

}

.headerDummy {
    flex-grow: 2;
}

