:root html #root {
    width: 100%;

}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

body {
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}


