$accent-color: aquamarine;
$secont-accent-color: coral;
$warning-color: palevioletred;

$text-color: rgb(31, 31, 31);

$white-translucent: rgba(250, 248, 243, 0.639);
$white-transparent: rgba(255, 255, 255, 0);



.subHeader {
    color: $text-color;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    background-color: $white-translucent;
    box-shadow: 0 0 5px gray;

    h2 {
        width: 100%;
        text-align: center;
        margin: 0px;
        text-decoration: underline $accent-color;

    }

    .undertext {
        font-weight: 500;
        text-align: center;
        margin-top: 0;
        text-decoration: none;
    }
}

.mainContainer {
    color: $text-color;

    width: 70%;
    min-height: 100%;
    max-height: fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    .card {
        min-width: 100px;
        max-width: fit-content;
        min-height: 100px;
        max-height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white-translucent;
        border-radius: 5px;

        gap: 10px;
        flex-direction: column;

        // h3 {
        // margin: 0 auto;
        // }

        padding-bottom: 10px;
    }


}


.adminPanel {
    min-width: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;

    user-select: none;

    h3 {
        margin: 0;
    }

    .check {
        min-width: max-content;
        display: flex;
        flex-wrap: nowrap;

        align-items: center;
        justify-content: center;
        gap: 10px;
        justify-content: start;


        .lamp {
            width: 15px;
            height: 15px;
            border: solid 1px white;
            border-radius: 10px;
            background-color: $warning-color;
            margin: 0%;

            &.on {
                background-color: $accent-color;
            }
        }

        .label {
            min-width: max-content;
        }

        // &:last-child {
        //     padding-bottom: 5px;
        // }
    }


}


.testForm {
    @extend .card;
    padding-top: 10px;

    .testInput {
        // padding: 10px;
        width: 80%;
        height: 25pt;
        box-shadow: inset 0 1px 3px lightgray;
        text-align: center;
        outline: 1px white;

        border-radius: 15px;
        border: solid 1px white;
        transition: border, 200ms, ease-in-out;

        &:focus {
            border: solid 1px $accent-color;
            accent-color: $accent-color;
            outline: $accent-color;
        }
    }

    button {
        height: 25pt;
        width: 80%;
        padding: 5px;
        margin-bottom: 10px;
        // border-color: $accent-color;
        border-radius: 15px;
        user-select: none;

        box-shadow: 0 0 5px lightgray;

        position: relative;
        transition: top, 200ms, ease-in-out;


        &:hover {
            accent-color: $accent-color;
            border-color: white;
            box-shadow: 0 3px 0px lightgrey, 0 0 5px lightgray;
            top: -3px;
        }

        &:active {
            // background-color:$accent-color;
            border-color: lightgray;

            box-shadow: inset 0 2px 0px lightgrey, 0 0 5px lighten(lightgray, 20%);
            top: 2px;
        }

    }

    h3{
        margin: 0;
    }
}

.buttonGallery {

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    h3 {
        margin: 0 auto;
    }

    p {
        margin: 0;
        text-align: center;

    }


    .niceInput {
        width: 150px;
        height: 25pt;
        border: solid 1px white;
        border-radius: 20px;
        box-shadow: inset 0 2px 2px lightgrey;
        display: table;

        input {
            width: 98%;
            height: calc(25pt - 4px);
            border-radius: 20px;
            border: solid 0px white;

            font-size: medium;

            outline: none;
            background-color: $white-transparent;
            display: table-cell;
            vertical-align: middle;
            align-self: center;
            text-align: center;

            &:focus {
                border: solid 0px white;
                outline: none;
                box-shadow: inset 0 0 5px lightgray;

            }
        }

       
    }


    .onceButton {
        width: 150px;
        height: 25pt;
        border: solid 1px white;
        border-radius: 20px;
        box-shadow: 0 2px 2px lightgrey;

        user-select: none;

        display: table;

        p {
            display: table-cell;
            vertical-align: middle;
        }

        &:hover {
            // we just make shadows deeper in tone and the button raise up. No need in moving div! Magic!
            box-shadow: 0 2px 2px gray;
        }

        &:active {
            box-shadow: inset 0 2px 2px gray;
        }

    }

    & button{
        font-weight: 400;
        padding: 5px;
    }

    .twiceButton {
        width: 150px;
        height: 25pt;
        border: solid 1px white;
        border-radius: 20px;
        box-shadow: inset 0 2px 2px lightgrey;
        padding: 0;

        user-select: none;

    
        .innerButton{
            border: solid 10px white;
            border-radius: 20px;
            height: 25pt;
            width: 25pt;
            border-width: 0;
            background-color: $accent-color;
            margin: 0;
            padding: 0;

            transition: width 800ms ease-in-out;
            transition-delay: 100ms;

            box-shadow: 0 2px 2px lightgray, inset 0 1px 2px white;
            position: relative;
            z-index: 2;
        }

        &:hover {
            // we just made shadows deeper in tone and the button raise up. No need in moving div! Magic!
            // box-shadow: inset 0 2px 2px gray;

            .innerButton {
                box-shadow: 0 2px 2px gray, inset 0 1px 2px white;

            }

        }

        &:active {
            .innerButton {
                width: 100%;
                box-shadow: 0 2px 2px gray,inset 0 1px 2px white;
            }
        }


        position: relative;

        p {
            position: absolute;
            left: 50%;
            top:15%;
            transform: translate(-50%, 10%);
            z-index: 1;
            color: gray;
        }

    }

}

.bandCampHolder {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
        margin: 0%;
    }

    iframe {
        border-width: solid 1px white;
        box-shadow: inset 0 0 2px white;
        border-radius: 10px;
        background-color: white;

    }
}