.gameTable {
    background-color: white;
    border: solid 0px black;
    border-radius: 20px;
    box-shadow: 0 0 3px lightgray;
    margin: auto;
    /* min-width: 540px; */
    width: 75%;
    /* max-height: 400px; */
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.motto {
    margin-bottom: 5px;
}

.gameHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.stepCounter {
    color: black;
    min-width: 100px;
    max-width: fit-content;
    height: fit-content;
    width: fit-content;
    font-size: 20px;
    top: 20px;
    left: 20px;
    text-align: center;
    user-select: none;

}

.gameName {
    font-size: 50px;
    color: black;
    margin: 0 15px;
    margin-bottom: 0px;
    /* width: 100%; */
    width: fit-content;
    display: inline-block;
    position: relative;
    user-select: none;

}

.clue {
    color: black;
    font-size: 15px;
    width: 25px;
    height: 25px;
    border: solid 0px black;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    right: -10%;
    user-select: none;
    text-align: center;
}

.clue:hover {
    box-shadow: 0 0 5px black;
}

.clue:active {
    box-shadow: 0 0 5px crimson;
    background-color: crimson;
    color: wheat;
}

.timer {
    /* padding: 10px; */
    margin: 0;
    color: black;
    font-size: 20px;
    width: 100px;
    text-align: center;
    user-select: none;
    /* margin-bottom: 15px; */
}

.winningP {
    /* You are chimpastic! You are Chimp-i-on! */
    position: absolute;
    margin: 0;
    top: 0%;
    left: 25%;
    transform: rotate(-40deg);
    color: crimson;
}

.cardHolder {
    height: 180px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    row-gap: 10px;
    column-gap: 10px;
    max-width: 240px;
    margin-bottom: 5px;
}

.card {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    user-select: none;
}

.cardNumber {
    padding: 10px;
    color: black;
    font-size: 20px;
    display: block;
    text-align: center;
    margin: 0;
}

.directionLever {
    width: 50px;
    margin: 0;
}

.hidden {
    display: none;
}

.buttonHolder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
    padding: 15px;
    width: fit-content;
}

.startGame {
    color: black;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 0;
    /* background-color: rgba(255, 255, 255, 0.335); */
    text-transform: capitalize;
    text-wrap: nowrap;
    user-select: none;
}

.startGame:active {
    background-color: crimson;
    box-shadow: 0 0 5px crimson;
    border: solid 1px crimson;
    color: wheat;

}


.amount {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -5px;
    flex-grow: 1;
}


.tileCount {
    min-width: 30%;
    width: 80px;
    margin-left: 10px;
    position: relative;
    /* accent-color: rgb(61, 152, 182); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    accent-color: crimson;

}

.tileCount:focus {
    accent-color: red;
}


.buttonLike {
    box-shadow: none;
    border: solid 1px gray;
    /* box-shadow: 0 0 5px gray; */

    border-radius: 10px;
}

.buttonLike:hover {
    box-shadow: 0 0 5px black;
}


/* for future use */

.open {
    box-shadow: 0px 0px 5px black;
}


.lost {
    background-color: crimson;
    box-shadow: 0px 0px 5px crimson;

    border: solid 1px crimson;
    border-radius: 0;
    animation: lostRotation 3s 1 forwards;
}

@keyframes lostRotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(45deg);
    }
}